<template>
    <div class="flex justify-between">
        <div class="text-2xl text-gray-600 font-bold mb-8">{{ pageName }}</div>
        <div class="text-blue-700 font-normal text-sm" v-if="hasPermission(userPermission)">
            <router-link class="cursor-pointer" :to="{name: routeLink }"><span class="pr-2"><font-awesome-icon :icon="icon" size="xs" /></span>{{ routeText }}</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "heading",
        props: {
            pageName: { type: String, default: 'Page'},
            routeLink: { type: String, default: 'home'},
            icon: { type: String, default: 'plus'},
            routeText: { type: String, default: 'home'},
            userPermission: { type: String, default: ''},
        }
    }
</script>

<style scoped>

</style>