<template>
    <div>
        <heading page-name="Add new user" user-permission="see_users" route-link="users" icon="arrow-left" route-text="Back to users list" />

        <!--Add new user-->
        <div class="md:flex">

            <div class="w-full md:w-1/2 md:mr-1">

                <div v-if="showUserSearchResults">
                    <div class="mb-3">
                        <p class="font-semibold">Showing TOP 5 search results</p>
                    </div>
                    <div v-if="!searchInProgress && users.length === 0" class="font-semibold mt-12 text-orange-500 leading-relaxed">
                        <p>No employees found.</p>
                        <p>Please update your search criteria.</p>
                    </div>
                    <div v-if="searchInProgress" class="font-semibold mt-12 text-green-500">
                        <p>Searching...</p>
                    </div>
                    <ul>
                        <li v-for="user in users" class="mb-2 p-1 hover:bg-gray-300 cursor-pointer" @click.prevent="selectEmployee(user)">
                            <div>
                                <p class="font-bold text-blue-500 leading-relaxed">{{ user.FIRST_NAME }}&nbsp;{{ user.LAST_NAME }} <span class="font-light">({{ user.SBCUID }})</span></p>
                                <p class="font-semibold leading-relaxed">Position: <span class="font-normal">{{ user.POSITION_DESCRIPTION }}</span></p>
                                <p class="font-semibold leading-relaxed">Department: <span class="font-normal">{{ user.DEPARTMENT_DESCRIPTION }}</span></p>
                                <p class="font-semibold leading-relaxed">City: <span class="font-normal">{{ user.WORK_CITY }}</span>&nbsp;Country: <span class="font-normal">{{ user.WORK_COUNTRY }}</span></p>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--ROLE LIST-->
                <div v-if="showRoleList">
                    <div class="mb-3">
                        <p class="font-semibold">Select role</p>
                    </div>
                    <ul>
                        <li v-for="role in roles" class="mb-2 p-1 hover:bg-gray-300 cursor-pointer" @click.prevent="selectRole(role)">
                            <div>
                                <p class="font-bold text-blue-500 leading-relaxed">{{ role.display_name }}</p>
                                <p class="font-normal">{{ role.description }}</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="w-full md:w-1/2 md:ml-1 mb-4">

                <!--EMPLOYEE SELECTION-->
                <div class="mb-3" v-if="selectedEmployee === null">
                    <div class="mb-3">
                        <label class="font-semibold" for="new_user">Find employee</label>
                    </div>
                    <div class="flex mb-3" v-if="errors.attuid">
                        <div class="w-full text-right text-error" v-for="error_message in errors.attuid">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                    <div class="">
                        <input class="bg-gray-300 italic w-full px-2 py-3" type="text" id="new_user" v-model="attuid" @keyup="triggerEmployeeSearch" @click.prevent="showUserListSelection" placeholder="Please, type here name or attuid">
                    </div>
                </div>
                <div class="mb-3" v-else>
                    <div class="mb-3">
                        <label class="font-semibold" for="new_user">Chosen employee</label>
                    </div>
                    <div class="flex mb-3" v-if="errors.attuid">
                        <div class="w-full text-right text-error" v-for="error_message in errors.attuid">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                    <div class="w-full">
                        <p class="font-bold text-blue-500 leading-relaxed">{{ selectedEmployee.FIRST_NAME }}&nbsp;{{ selectedEmployee.LAST_NAME }}
                            <span class="font-light">({{ selectedEmployee.SBCUID }})</span>
                            <span class="float-right">
                                <action-button class="btn-red" icon="times" v-on:clicked="removeEmployeeSelection">Remove selection</action-button>
                            </span>
                        </p>
                    </div>
                </div>

                <!--ROLE SELECTION-->
                <div class="mb-3" v-if="selectedRole === null">
                    <div class="mb-3">
                        <p class="font-semibold">Select role</p>
                    </div>
                    <div class="flex mb-3" v-if="errors.role">
                        <div class="w-full text-right text-error" v-for="error_message in errors.role">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                    <p class="text-gray-600 italic hover:font-semibold cursor-pointer" @click.prevent="showRoleSelectionList">Select role for the user</p>
                </div>
                <div class="mb-3" v-else>
                    <div class="mb-3">
                        <p class="font-semibold">Selected role</p>
                    </div>
                    <div class="flex mb-3" v-if="errors.role">
                        <div class="w-full text-right text-error" v-for="error_message in errors.role">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                    <div class="w-full">
                        <p class="font-bold text-blue-500 leading-relaxed">{{ selectedRole.display_name }}
                            <span class="float-right">
                                <action-button class="btn-red" icon="times" v-on:clicked="removeRoleSelection">Remove selection</action-button>
                            </span>
                        </p>
                    </div>
                </div>

                <!--SUBMIT-->
                <div class="flex">
                    <div class="w-full text-right">
                        <button class="btn-submit btn-green" @click.prevent="store">Add new user</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    import Heading from "../heading";
    import _ from 'lodash';
    import ActionButton from "../../utilities/htmlElements/ActionButton";
    export default {
        name: "userCreate",
        components: {ActionButton, Heading},
        data(){
            return {
                attuid: '',
                searchInProgress: false,
                errors: [],
                users: [],
                roles: [],
                showUserSearchResults: false,
                showRoleList: false,
                selectedEmployee: null,
                selectedRole: null,
            }
        },
        mounted () {
            this.retrieveRoles();
        },
        methods: {
            retrieveRoles() {
                axios
                    .get(route('role.index'))
                    .then(response => (
                        this.roles = response.data
                    ))
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    })
            },
            showUserListSelection(){
                this.showRoleList = false;
                this.showUserSearchResults = true;
            },
            triggerEmployeeSearch() {

                if(this.attuid === '') {
                    this.users = [];
                    return;
                }

                this.users = [];
                this.searchInProgress = true;

                this.searchEmployee();
            },
            searchEmployee:
                _.debounce(function() {
                    if(this.attuid === '') {
                        this.searchInProgress = false;
                        return;
                    }
                    axios.get(route('user.searchEmployee', this.attuid))
                        .then(response => {
                            this.searchInProgress = false;
                            this.users = response.data;
                        })
                        .catch(error => {
                            this.searchInProgress = false;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                        });
                }, 500),
            selectEmployee(employee) {
                this.selectedEmployee = employee;
            },
            removeEmployeeSelection(){
                this.selectedEmployee = null;
                this.showUserListSelection();
            },
            showRoleSelectionList() {
                this.showUserSearchResults = false;
                this.showRoleList = true;
            },
            selectRole(role) {
                this.selectedRole = role;
            },
            removeRoleSelection(){
                this.selectedRole = null;
                this.showRoleSelectionList()
            },
            store(){
                this.errors = [];

                if(this.selectedEmployee === null) {
                    this.errors = {
                        attuid: ['Please select an employee']
                    };
                    this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'User not added', text: 'Please review the form entries', background: 'orange' });
                    return;
                } else if(this.selectedRole === null) {
                    this.errors = {
                        role: ['Please select a role']
                    };
                    this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'User not added', text: 'Please review the form entries', background: 'orange' });
                    return;
                }

                axios.post(route('user.store'), {attuid: this.selectedEmployee.SBCUID, first_name: this.selectedEmployee.FIRST_NAME, last_name: this.selectedEmployee.LAST_NAME, enabled: true, role: [this.selectedRole.name] })
                    .then(response => {
                        this.errors = [];
                        this.$router.push({ name: 'users', params: {} });
                        let userName = response.data.full_name;
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'User ' + userName + ' successfully added', background: 'green' });
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = error.response.data.errors;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'User not added', text: 'Please review the form entries', background: 'orange' });
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },
        }
    }
</script>

<style scoped>

</style>