<template>
    <div>

        <heading :page-name="headingFullName" route-link="users" user-permission="see_users" icon="arrow-left" route-text="Back to User list" />

        <div class="w-full mb-8">

            <!--FIRST NAME-->
            <div class="md:flex mb-3" v-if="errors.first_name">
                <div class="w-full text-right text-error">
                    <div v-for="error_message in errors.first_name">
                        <p>{{ error_message }}</p>
                    </div>
                </div>
            </div>
            <div class="md:flex mb-3">
                <div class="w-full md:w-2/5 px-2 py-3">
                    <label class="font-semibold" for="first_name">First name</label>
                </div>
                <div class="w-full md:w-3/5">
                    <input class="bg-gray-300 w-full px-2 py-3" type="text" id="first_name" v-model="first_name">
                </div>
            </div>

            <!--LAST NAME-->
            <div class="md:flex mb-3" v-if="errors.last_name">
                <div class="w-full text-right text-error">
                    <div v-for="error_message in errors.last_name">
                        <p>{{ error_message }}</p>
                    </div>
                </div>
            </div>
            <div class="md:flex mb-3">
                <div class="w-full md:w-2/5 px-2 py-3">
                    <label class="font-semibold" for="last_name">Last name</label>
                </div>
                <div class="w-full md:w-3/5">
                    <input class="bg-gray-300 w-full px-2 py-3" type="text" id="last_name" v-model="last_name">
                </div>
            </div>

        </div>

        <div class="w-full md:flex">

            <div class="w-full md:w-1/2 md:mr-1">

                <!--ROLE LIST-->
                <div v-if="showRoleList">
                    <div class="mb-3">
                        <p class="font-semibold">Select access role</p>
                    </div>
                    <ul>
                        <li v-for="role in roles" class="mb-2 p-1 hover:bg-gray-300 cursor-pointer" @click.prevent="selectRole(role)">
                            <div>
                                <p class="font-bold text-blue-500 leading-relaxed">{{ role.display_name }}</p>
                                <p class="font-normal">{{ role.description }}</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="w-full md:w-1/2 md:ml-1 mb-4">

                <!--ROLE SELECTION-->
                <div class="mb-3" v-if="selectedRole === null">
                    <div class="mb-3">
                        <p class="font-semibold">Select access role</p>
                    </div>
                    <div class="flex mb-3" v-if="errors.role">
                        <div class="w-full text-right text-error" v-for="error_message in errors.role">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                    <p class="text-gray-600 italic hover:font-semibold cursor-pointer" @click.prevent="showRoleSelectionList">Select access role for the user</p>
                </div>
                <div class="mb-3" v-else>
                    <div class="mb-3">
                        <p class="font-semibold">Selected access role</p>
                    </div>
                    <div class="flex mb-3" v-if="errors.role">
                        <div class="w-full text-right text-error" v-for="error_message in errors.role">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                    <div class="w-full">
                        <p class="font-bold text-blue-500 leading-relaxed">{{ selectedRole.display_name }}
                            <span class="float-right">
                                <action-button class="btn-red" icon="times" v-on:clicked="removeRoleSelection">Remove selection</action-button>
                            </span>
                        </p>
                    </div>
                </div>

                <!--SUBMIT-->
                <div class="flex">
                    <div class="w-full text-right">
                        <button class="btn-submit btn-green" @click.prevent="update">Edit user profile</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import Notification from "../../utilities/notifications/notification";
    import Heading from "../heading";
    import ActionButton from "../../utilities/htmlElements/ActionButton";

    export default {
        name: "userEdit",
        components: {Heading, Notification, ActionButton},
        props: {
            user: {
                type: Object,
                default: () => ({
                    attuid: '',
                    full_name: '/** User data could not be loaded**\\'
                })
            }
        },
        mounted () {
            this.retrieveRoles();
        },
        computed: {
            headingFullName() {
                return 'Edit account profile of ' + this.user.full_name + ' (' + this.user.attuid + ')';
            }
        },
        data() {
            return {
                errors: [],
                first_name: this.user.first_name,
                last_name: this.user.last_name,
                roles: [],
                showRoleList: false,
                selectedRole: (this.user.roles.length > 0) ? this.user.roles[0] : null,
            }
        },
        methods: {
            retrieveRoles() {
                axios
                    .get(route('role.index'))
                    .then(response => (
                        this.roles = response.data
                    ))
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    })
            },
            showRoleSelectionList() {
                this.showRoleList = true;
            },
            selectRole(role) {
                this.selectedRole = role;
            },
            removeRoleSelection(){
                this.selectedRole = null;
                this.showRoleSelectionList()
            },
            update(){
                this.errors = [];

                if(this.selectedRole === null) {
                    this.errors = {
                        role: ['Please select a role']
                    };
                    this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'User not added', text: 'Please review the form entries', background: 'orange' });
                    return;
                }

                axios.patch(route('user.update', this.user.attuid), {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    enabled: true,
                    role: [this.selectedRole.name],
                })
                    .then(response => {
                        this.errors = [];
                        this.$router.push({ name: 'users', params: {} });
                        let userName = response.data.full_name;
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'User profile for ' + userName + ' successfully updated', background: 'green' });
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = error.response.data.errors;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'User profile not updated', text: 'Please review the form entries', background: 'orange' });
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },
        }
    }
</script>

<style scoped>

</style>