<template>
    <div>
        <heading page-name="Users list" user-permission="edit_users" route-link="userCreate" route-text="Add new user" />
        <users-list />
    </div>
</template>

<script>
    import Heading from "../heading";
    import UsersList from "./usersList";
    export default {
        name: "users",
        components: {UsersList, Heading},
        data(){
            return {
            }
        },
    }
</script>

<style scoped>

</style>