<template>
    <div class="">
        <ul>
            <li v-for="user in users" class="mb-2 p-1 hover:bg-gray-300" @mouseenter="displayEditButtons(user.attuid)" @mouseleave="hideEditButtons">
                <div class="md:flex cursor-pointer">
                    <div class="w-full md:w-3/4">
                        <p class="font-bold text-blue-500 leading-relaxed">{{ user.full_name }} <span class="font-light">({{ user.attuid }})</span></p>
                        <p class="font-semibold leading-relaxed">
                            <span>Access Role:</span>
                            <span class="font-normal italic" v-for="role in user.roles">{{ role.display_name }} </span>
                        </p>
                    </div>
                    <div class="w-full md:w-1/4 flex content-center flex-wrap" v-if="displayButtons === user.attuid">
                        <router-link
                            :to="{name: 'userEdit', params: {
                                user: { attuid: user.attuid
                                , first_name: user.first_name
                                , last_name: user.last_name
                                , full_name: user.full_name
                                , roles: user.roles }
                            }}"
                            class="pr-3"
                        >
                            <action-button class="btn-orange" icon="pencil-alt" v-if="hasPermission('edit_users')">Edit</action-button>
                        </router-link>
                        <action-button class="btn-red" icon="times" v-on:clicked="toggleUserDelete(user.attuid)" v-if="hasPermission('edit_users')">Delete</action-button>
                    </div>
                </div>

                <!--User delete confirmation-->
                <div v-if="userToBeDeleted === user.attuid" class="bg-red-900 text-white mt-3 py-4 px-4 w-full rounded">
                    <p class="mb-5 font-bold text-lg leading-relaxed text-center">Are you sure you want to disable access for the user "{{ user.full_name }}"?</p>
                    <div class="flex justify-around">
                        <div>
                            <button class="btn-submit btn-gray" @click.prevent="toggleUserDelete">
                                No
                            </button>
                        </div>
                        <div>
                            <button class="btn-submit btn-red" @click.prevent="deleteUser(user)">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</template>

<script>
    import ActionButton from "../../utilities/htmlElements/ActionButton";

    export default {
        name: "usersList",
        components: {ActionButton},
        props: {
            route: {
                type: String,
                default: 'user.index'
            }
        },
        data () {
            return {
                users: null,
                displayButtons: false,
                userToBeDeleted: null,
            }
        },
        mounted () {
            this.retrieveUsers();
        },
        methods: {
            retrieveUsers(){
                axios
                    .get(route(this.route))
                    .then(response => {
                        this.users = response.data;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', { error: error });
                    });
            },
            displayEditButtons(id){
                this.displayButtons = id;
            },
            hideEditButtons(){
                this.displayButtons = null;
            },

            // User methods
            toggleUserDelete(attuid){
                if(attuid) {
                    this.displayUserDelete(attuid);
                } else {
                    this.hideUserDelete();
                }
            },
            displayUserDelete(attuid) {
                this.userToBeDeleted = attuid ;
            },
            hideUserDelete() {
                this.userToBeDeleted = null ;
            },
            deleteUser(user) {
                axios.patch(route('user.disable', user.attuid), {enabled: false })
                    .then(response => {
                        this.errors = [];
                        this.users = this.users.filter(user => (user.attuid !== response.data.attuid));
                        let userName = response.data.full_name;
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Access for ' + userName + 'was successfully disabled', background: 'green' });
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = error.response.data.errors;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'User profile not updated', text: 'Please review the form entries', background: 'orange' });
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },


        }
    }
</script>

<style scoped>

</style>