<template>
    <div>
        <div class="md:flex">
            <div class="w-full md:w-1/2 md:pr-1">
                <div class="bg-blue-900 text-white font-bold p-3 text-center">EMPLOYEES</div>
                <div v-if="hasPermission('edit_exceptions') && selectedDistribution">
                    <div class="w-full text-center">
                        <button v-if="!showAddExceptionForm"
                            @click.prevent="toggleAddExceptionForm"
                            class="m-3 p-3 text-blue-900 border-2 border-blue-900 hover:text-white hover:bg-green-500 hover:border-green-500"
                        >Add exception</button>
                        <button v-else
                                @click.prevent="toggleAddExceptionForm"
                                class="m-3 p-3 text-blue-900 border-2 border-blue-900 hover:text-white hover:bg-green-500 hover:border-green-500"
                        >Close the form</button>
                    </div>
                    <!--EMPLOYEE SELECTION-->
                    <div v-if="showAddExceptionForm"
                         class="w-full mb-3 px-2"
                    >
                        <div class="md:flex mb-3">

                            <div class="md:w-2/3 md:pr-1" v-if="selectedEmployee === null">
                                <div class="mb-3">
                                    <label class="font-semibold" for="new_user">Find employee</label>
                                </div>
                                <div class="flex mb-3" v-if="errors.attuid">
                                    <div class="w-full text-right text-error" v-for="error_message in errors.attuid">
                                        <p>{{ error_message }}</p>
                                    </div>
                                </div>
                                <div class="">
                                    <input class="bg-gray-300 italic w-full px-2 py-3" type="text" id="new_user" v-model="attuid" @keyup="triggerEmployeeSearch" placeholder="Please, type here name or attuid">
                                </div>
                            </div>
                            <div class="md:w-2/3 md:pr-1" v-else>
                                <div class="mb-3">
                                    <label class="font-semibold" for="new_user">Chosen employee</label>
                                </div>
                                <div class="flex mb-3" v-if="errors.attuid">
                                    <div class="w-full text-right text-error" v-for="error_message in errors.attuid">
                                        <p>{{ error_message }}</p>
                                    </div>
                                </div>
                                <div class="w-full py-1">
                                    <p class="font-bold text-blue-500 leading-relaxed">{{ selectedEmployee.FIRST_NAME }} {{ selectedEmployee.LAST_NAME }}
                                        <span class="font-light">({{ selectedEmployee.SBCUID }})</span>
                                        <span class="float-right">
                                        <font-awesome-icon class="cursor-pointer" icon="times" @click.prevent="removeEmployeeSelection" />
                                    </span>
                                    </p>
                                </div>
                            </div>

                            <div class="md:w-1/3 md:pl-1">
                                <div class="mb-3">
                                    <label class="font-semibold" for="tickets_per_emp">Tickets per employee</label>
                                </div>
                                <div class="flex mb-3" v-if="errors.tickets_per_emp">
                                    <div class="w-full text-right text-error" v-for="error_message in errors.tickets_per_emp">
                                        <p>{{ error_message }}</p>
                                    </div>
                                </div>
                                <div class="">
                                    <input class="bg-gray-300 italic w-full px-2 py-3" type="number" id="tickets_per_emp" v-model="tickets_per_emp" placeholder="Please, type the number of tickets per employee">
                                </div>
                            </div>

                        </div>

                        <div v-if="!selectedEmployee"
                            class="w-full mb-3"
                        >
                            <div class="mb-3">
                                <p class="font-semibold">Showing TOP 5 search results</p>
                            </div>
                            <div v-if="!searchInProgress && users.length === 0" class="my-3 italic text-center leading-relaxed">
                                <p>No employees found.</p>
                                <p>Please update your search criteria.</p>
                            </div>
                            <div v-if="searchInProgress">
                                <loading class="py-3 text-center"/>
                            </div>
                            <ul>
                                <li v-for="user in users" class="mb-2 p-1 hover:bg-gray-300 cursor-pointer" @click.prevent="selectEmployee(user)">
                                    <div>
                                        <p class="font-bold text-blue-500 leading-relaxed">{{ user.FIRST_NAME }}&nbsp;{{ user.LAST_NAME }} <span class="font-light">({{ user.SBCUID }})</span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="py-3">
                            <div class="mb-3">
                                <label class="font-semibold" for="description">Description</label>
                            </div>
                            <div class="flex mb-3" v-if="errors.description">
                                <div class="w-full text-right text-error" v-for="error_message in errors.description">
                                    <p>{{ error_message }}</p>
                                </div>
                            </div>
                            <div>
                                <input class="bg-gray-300 italic w-full px-2 py-3" type="text" id="description" v-model="description" placeholder="Please, type description 9optional)">
                            </div>
                        </div>

                        <div v-if="selectedEmployee && (parseInt(this.tickets_per_emp) > 0)"
                             class="w-full text-center"
                        >
                            <button
                                    @click.prevent="addException"
                                    class="m-3 p-3 text-blue-900 border-2 border-blue-900 hover:text-white hover:bg-green-500 hover:border-green-500"
                            >Add exception</button>
                        </div>

                    </div>
                </div>
                <div v-if="exceptions.length !== 0"
                     class="p-2"
                >
                    <div v-for="exception in exceptions"
                         class="leading-relaxed cursor-pointer hover:bg-gray-200"
                    >
                        <exception-row :exception="exception"
                                       @exceptionDeleted="removeException(exception)"
                        />
                    </div>
                </div>
                <div v-else-if="exceptionsLoading">
                    <loading class="py-3 text-center"/>
                </div>
                <div v-else
                     class="text-center py-3 italic"
                >
                    No exceptions
                </div>
            </div>
            <div class="w-full mt-3 md:mt-0 md:w-1/2 md:pl-1">
                <div class="bg-blue-900 text-white font-bold p-3 text-center">DISTRIBUTIONS</div>
                <div v-if="distributions"
                    class="p-2"
                >
                    <div v-for="distribution in distributions"
                        class="sm:flex sm:justify-between leading-relaxed cursor-pointer hover:bg-gray-200"
                         @click.prevent="getExceptionsForDistribution(distribution)"
                    >
                        <div>{{ distribution.display_name }}</div>
                        <div>{{ distribution.status }}</div>
                        <div>
                            <font-awesome-icon icon="copy"
                                                @click.prevent="copyExceptions(distribution)"
                                               title="copy exceptions to new distribution"
                            />
                        </div>
                    </div>
                </div>
                <div v-else-if="distributionsLoading">
                    <loading class="py-3 text-center"/>
                </div>
                <div v-else>
                    No distributions
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import ExceptionRow from "./exceptionRow";
    export default {
        name: "exceptions",
        components: {ExceptionRow},
        data() {
            return {
                distributions: null,
                exceptions: [],
                distributionsLoading: false,
                exceptionsLoading: false,
                showAddExceptionForm: false,
                errors: [],
                attuid: null,
                selectedEmployee: null,
                searchInProgress: false,
                users: [],
                tickets_per_emp: null,
                selectedDistribution: null,
                description: null,
                showEmployeeDetails:false
            }
        },
        mounted() {
            this.getDistribution();
        },
        methods: {
            getDistribution() {
                this.distributionsLoading = true;
                axios
                    .get(route('distribution.index'))
                    .then(response => {
                        this.distributions = response.data;
                        this.distributionsLoading = false;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
            getExceptionsForDistribution(distribution){
                this.selectedDistribution = distribution.name;
                this.exceptionsLoading = true;
                axios
                    .get(route('exception.show', distribution.name))
                    .then(response => {
                        this.exceptions = response.data;
                        this.exceptionsLoading = false;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
            triggerEmployeeSearch() {

                if(this.attuid === '') {
                    this.users = [];
                    return;
                }

                this.users = [];
                this.searchInProgress = true;

                this.searchEmployee();
            },
            searchEmployee:
                _.debounce(function() {
                    if(this.attuid === '') {
                        this.searchInProgress = false;
                        return;
                    }
                    axios.get(route('user.searchEmployee', this.attuid))
                        .then(response => {
                            this.searchInProgress = false;
                            this.users = response.data;
                        })
                        .catch(error => {
                            this.searchInProgress = false;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                        });
                }, 500),
            selectEmployee(employee) {
                this.selectedEmployee = employee;
            },
            removeEmployeeSelection(){
                this.selectedEmployee = null;
            },
            toggleAddExceptionForm() {
                this.showAddExceptionForm = !this.showAddExceptionForm;
            },
            addException(){
                if(this.tickets_per_emp < 1) {
                    this.errors = {
                        tickets_per_emp: ['Please type higher number of tickets per employee']
                    };
                    this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Exception not created', text: 'Please review the form entries', background: 'orange' });
                    return;
                }

                if(this.description === '') {
                    this.description = null;
                }

                axios.post(route('exception.store'), {attuid: this.selectedEmployee.SBCUID, tickets_per_emp: this.tickets_per_emp, distribution: this.selectedDistribution, description: this.description })
                    .then(response => {
                        this.errors = [];
                        this.selectedEmployee = null;
                        this.attuid = null;
                        this.users = [];
                        let exception = response.data;
                        this.getExceptionsForDistribution({name: exception.distribution});
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Exception for ' + exception.full_name + ' successfully created', background: 'green' });
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = error.response.data.errors;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Exception not created', text: 'Please review the form entries', background: 'orange' });
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });

            },
            copyExceptions(oldDistribution){
                axios.post(route('exception.copyExceptions'), {oldDistribution: oldDistribution })
                    .then(response => {
                        let text = response.data;
                        if(text === 'No distribution in status "new" exists') {
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Exceptions not copied', text: text, background: 'orange' });
                        } else {
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Exceptions to ' + response.data.display_name + ' successfully copied. ' + text, background: 'green' });
                        }

                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = error.response.data.errors;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Exceptions not copied', text: 'Try to reload the page', background: 'orange' });
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },
            removeException(exception) {
                this.exceptions = this.exceptions.filter(record => (record.id !== exception.id));
            }
        }
    }
</script>

<style scoped>

</style>