<template>
    <div @click.prevent="toggleEmployeeDetails">
        <div class="sm:flex sm:justify-between">
            <div>{{ exception.full_name }}</div>
            <div>{{ exception.attuid }}</div>
            <div>{{ exception.tickets_per_emp}}</div>
        </div>
        <div v-if="showEmployeeDetails"
             class="mb-3 pl-3"
        >
            <div>Description: <span class="italic">{{ exception.description }}</span></div>
            <div>Approved by: <span class="italic">{{ exception.approver_full_name }} ({{ exception.approver_attuid }})</span></div>
            <div class="text-right cursor-pointer p-2">
                <font-awesome-icon icon="trash-alt"
                                   title="Remove exception"
                                   color="red"
                                   @click.prevent="removeException(exception)"
                />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "exceptionRow",
        data() {
            return {
                showEmployeeDetails: false
            }
        },
        props: {
            exception: {
                type: Object,
                default: {}
            }
        },
        methods: {
            toggleEmployeeDetails(){
                this.showEmployeeDetails = !this.showEmployeeDetails;
            },
            removeException(exception){
                axios.delete(route('exception.destroy', exception), )
                    .then(response => {
                        this.$emit('exceptionDeleted', response.data);
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Exception deleted', background: 'green' });
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = error.response.data.errors;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Exception not deleted', text: '', background: 'orange' });
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>