<template>
    <dl :class="[margin, padding, width, textColor, cursor, itemHoverTextColor]" @click="$emit('clicked', permission)">
        <dt :class="['pb-1', dtTextColor ]">
            <span :class="dtFontWeight">{{ permission.display_name }}</span><span class="text-sm font-thin pl-1 italic">({{ permission.category }})</span>
        </dt>
        <dd :class="['pl-6', ddTextColor ]">
            {{ permission.description }}
        </dd>
    </dl>
</template>

<script>
    export default {
        name: "permissionListItem",
        props: {
            permission: { type: Object, default: {display_name: 'No permission provided', category: '', permission: ''}},
            margin: { type: String, default: ''},
            padding: { type: String, default: ''},
            width: { type: String, default: 'w-full'},
            cursor: { type: String, default: 'cursor-pointer'},
            textColor: { type: String, default: ''},
            dtTextColor: { type: String, default: ''},
            itemHoverTextColor: { type: String, default: ''},
            ddTextColor: { type: String, default: 'text-gray-600'},
            dtFontWeight: { type: String, default: 'font-semibold'},
        }
    }
</script>

<style scoped>

</style>