<template>
    <div :class="[ bgColor, margin, padding, width, borderRadius, textColor]">
        <div
            class="vh-40-max md:max overflow-auto"
            v-if="permissions.length > 0"
        >
            <div
                v-for="permission in permissions"
                v-bind:key="permission.name"
            >
                <permission-list-item
                    :permission="permission"
                    :margin="'mb-1'"
                    :padding="'py-1'"
                    :itemHoverTextColor="'hover:' + itemHoverTextColor"
                    :dd-text-color="ddTextColor"
                    @clicked="$emit('permissionListItemClicked', $event)"
                />
            </div>
        </div>
        <p v-else>{{ noDataText }}</p>
    </div>
</template>

<script>
    import PermissionListItem from "./permissionListItem";
    export default {
        name: "permissionsList",
        components: {PermissionListItem},
        props: {
            permissions: { type: Array, default: () => [] },
            noDataText: { type: String, default: 'No permissions'},
            bgColor: { type: String, default: 'bg-yellow-600'},
            margin: { type: String, default: 'mt-3'},
            padding: { type: String, default: 'py-4 px-4'},
            width: { type: String, default: 'w-full'},
            borderRadius: { type: String, default: 'rounded'},
            textColor: { type: String, default: 'text-white'},
            itemHoverTextColor: { type: String, default: 'hover:text-red-900'},
            ddTextColor: { type: String, default: 'text-gray-300'},
        }
    }
</script>

<style scoped>

</style>