<template>
    <div>
        <div class="bg-blue-900 text-white font-bold p-3 text-center">DISTRIBUTIONS OVERVIEW</div>
        <div v-if="hasPermission('edit_distributions')"
            class="flex justify-around"
        >
            <div>
                <button @click.prevent="closeOpenDistributions"
                        class="m-3 p-3 text-blue-900 border-2 border-blue-900 hover:text-white hover:bg-green-500 hover:border-green-500"
                >Close open distribution</button>
            </div>
            <div>
                <button @click.prevent="createNewDistribution"
                        class="m-3 p-3 text-blue-900 border-2 border-blue-900 hover:text-white hover:bg-green-500 hover:border-green-500"
                >Create new distribution</button>
            </div>
        </div>
        <div v-if="hasPermission('see_distributions')"
             class="mb-4"
        >
            <div v-for="(distribution, index) in distributions"
                class="flex py-3 hover:bg-gray-200"
            >
                <div class="w-full md:w-1/6 py-1 md:py-0">
                    <div v-if="index === 0" class="font-bold pb-3">Distribution name</div>
                    <div>{{ distribution.display_name }}</div>
                </div>
                <div class="md:flex w-full md:justify-around py-1 md:py-0">
                    <div class="w-full pb-3 md:pb-0 px-1 text-center md:text-left">
                        <div v-if="index === 0" class="w-full font-bold pb-1 md:pb-3">From</div>
                        <div class="w-full">{{ getFormattedDate(distribution.from) }}</div>
                    </div>
                    <div class="w-full pb-3 md:pb-0 px-1 text-center md:text-left">
                        <div v-if="index === 0" class="w-full font-bold pb-1 md:pb-3">Status</div>
                        <div class="w-full">{{ distribution.status }}</div>
                    </div>
                    <div class="w-full pb-3 md:pb-0 px-1 text-center">
                        <div v-if="index === 0" class="w-full font-bold pb-1 md:pb-3">#t/emp <font-awesome-icon icon="info-circle" title="tickets per employee" color="#2A4365" class="cursor-help" /></div>
                        <div class="w-full">{{ distribution.tickets_per_emp }}</div>
                    </div>
                    <div class="w-full pb-3 md:pb-0 px-1 text-center">
                        <div v-if="index === 0" class="w-full font-bold pb-1 md:pb-3">#employees <font-awesome-icon icon="info-circle" title="at the time of distribution creation" color="#2A4365" class="cursor-help" /></div>
                        <div class="w-full">{{ distribution.total_num_of_emp }}</div>
                    </div>
                    <div class="w-full pb-3 md:pb-0 px-1 text-center">
                        <div v-if="index === 0" class="w-full font-bold pb-1 md:pb-3">#picked tickets</div>
                        <div class="w-full">{{ distribution.tickets_picked }}</div>
                    </div>
                    <div class="w-full pb-3 md:pb-0 px-1 text-center">
                        <div v-if="index === 0" class="w-full font-bold pb-1 md:pb-3">#used tickets</div>
                        <div class="w-full">{{ distribution.tickets_used }} ({{ (distribution.tickets_picked === 0) ? 'NA' : ((distribution.tickets_used / distribution.tickets_picked) * 100).toFixed(2) }} %)</div>
                    </div>
                    <div class="w-full pb-3 md:pb-0 px-1 text-center">
                        <div v-if="index === 0" class="w-full font-bold pb-1 md:pb-3">actions</div>
                        <div class="w-full">
                            <span v-if="distribution.status === 'open'">
                                <font-awesome-icon icon="times-circle"
                                                   title="Close the distribution"
                                                   color="#F98165"
                                                   class="cursor-pointer"
                                                   @click.prevent="closeDistribution(distribution.name)"
                                />
                            </span>
                            <span v-if="distribution.status === 'new'">
                                <font-awesome-icon icon="play-circle"
                                                   title="Start the distribution. All open distributions will be closed."
                                                   color="#48BB78"
                                                   class="cursor-pointer"
                                                   @click.prevent="startDistribution(distribution.name)"
                                />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "distributions",
        data() {
            return {
                distributions: null,
            }
        },
        mounted() {
            this.getDistributions();
        },
        methods: {
            async getDistributions() {
                await axios
                    .get(route('distribution.index'))
                    .then(response => {
                        this.distributions = response.data;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
            async closeDistribution(distribution) {
                await axios
                    .patch(route('distribution.update', distribution), {status: 'closed'})
                    .then(response => {
                        this.$store.dispatch('notificationModule/showNotification', {
                            notificationVisibility: true,
                            title: 'Success',
                            text: 'Distribution ' + response.data.display_name + ' successfully closed',
                            background: 'green'
                        });
                        this.getDistributions();
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
            async closeOpenDistributions() {
                let actual_distribution = null;
                await axios
                    .get(route('distribution.actual'))
                    .then(response => {
                        actual_distribution = response.data;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });

                if(actual_distribution) {
                    await axios
                        .patch(route('distribution.update', actual_distribution.name), {status: 'closed'})
                        .then(response => {
                            this.$store.dispatch('notificationModule/showNotification', {
                                notificationVisibility: true,
                                title: 'Success',
                                text: 'Distribution ' + response.data.display_name + ' successfully closed',
                                background: 'green'
                            });
                            this.getDistributions();
                        })
                        .catch(error => {
                            this.$store.dispatch('logModule/storeLog', {error: error});
                        });
                } else {
                    this.$store.dispatch('notificationModule/showNotification', {
                        notificationVisibility: true,
                        title: 'No distribution was open...',
                        text: '...therefore no distribution was closed',
                        background: 'orange'
                    });
                }
            },
            createNewDistribution() {
                this.$router.push({ name: 'distributionCreate', params: {} });
            },
            async startDistribution(distribution) {
                await axios
                    .patch(route('distribution.update', distribution), {status: 'open'})
                    .then(response => {
                        this.$store.dispatch('notificationModule/showNotification', {
                            notificationVisibility: true,
                            title: 'Success',
                            text: 'Distribution ' + response.data.display_name + ' successfully opened',
                            background: 'green'
                        });
                        this.getDistributions();
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
        }
    }
</script>

<style scoped>

</style>