<template>
    <div>
        <div class="bg-blue-900 text-white font-bold p-3 text-center">CREATE NEW DISTRIBUTION</div>
        <div class="md:flex">

            <div class="w-full md:w-1/2 md:mr-1">
                <div class="my-3">
                    <div class="mb-3">
                        <label class="font-semibold" for="new_distribution">Distribution name</label>
                    </div>
                    <div class="flex mb-3" v-if="errors.display_name">
                        <div class="w-full text-right text-error" v-for="error_message in errors.display_name">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                    <div class="">
                        <input class="bg-gray-300 italic w-full px-2 py-3" type="text" id="new_distribution" v-model="distributionName" placeholder="Please, type the name of the distribution">
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 md:mr-1">
                <div class="my-3">
                    <div class="mb-3">
                        <label class="font-semibold" for="tickets_per_emp">Tickets per employee</label>
                    </div>
                    <div class="flex mb-3" v-if="errors.tickets_per_emp">
                        <div class="w-full text-right text-error" v-for="error_message in errors.tickets_per_emp">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                    <div class="">
                        <input class="bg-gray-300 italic w-full px-2 py-3" type="number" id="tickets_per_emp" v-model="tickets_per_emp" placeholder="Please, type the number of tickets per employee">
                    </div>
                </div>
            </div>
        </div>

        <!--SUBMIT-->
        <div class="flex">
            <div class="w-full text-right">
                <button class="btn-submit btn-green" @click.prevent="store">Create new distribution</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "distributionCreate",
        data() {
            return {
                distributionName: null,
                errors: [],
                tickets_per_emp: null
            }
        },
        methods: {
            store() {
                if(this.tickets_per_emp < 1) {
                    this.errors = {
                        tickets_per_emp: ['Please type higher number of tickets per employee']
                    };
                    this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Distribution not created', text: 'Please review the form entries', background: 'orange' });
                    return;
                } else if(this.distributionName === null || this.distributionName === '') {
                    this.errors = {
                        display_name: ['Please type a valid name of the distribution']
                    };
                    this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Distribution not created', text: 'Please review the form entries', background: 'orange' });
                    return;
                }

                axios.post(route('distribution.store'), {display_name: this.distributionName, tickets_per_emp: this.tickets_per_emp })
                    .then(response => {
                        this.errors = [];
                        this.$router.push({ name: 'distributions', params: {} });
                        let distributionName = response.data.display_name;
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Distribution ' + distributionName + ' successfully created', background: 'green' });
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = error.response.data.errors;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Distribution not created', text: 'Please review the form entries', background: 'orange' });
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>