<template>
    <div class="text-center">
        <div class="bg-blue-900 text-white font-bold p-3 text-center">TICKET CODES</div>
        <div v-if="barCodes.length < 1"
             class="my-8 text-center italic text-xl">
            No valid tickets available
        </div>
        <div v-else-if="barCodes.length > 0">
            <div class="flex flex-wrap justify-around py-3">
                <div v-for="ticket in barCodes"
                class="p-1 pb-4">
                    <div v-html="ticket.barCode"
                      class="pb-1"
                    ></div>
                    <div v-html="ticket.number"
                         class="text-xl"
                    ></div>
                </div>
            </div>
            <div>
                <button @click.prevent="$emit('sendMail')"
                    class="m-3 p-3 text-blue-900 border-2 border-blue-900 hover:text-white hover:bg-green-500 hover:border-green-500"
                >Send email with tickets</button>
                <!--<button @click.prevent="$emit('generateBarCodesToPDF')"-->
                    <!--class="m-3 p-3 text-blue-900 border-2 border-blue-900 hover:text-white hover:bg-green-500 hover:border-green-500"-->
                <!--&gt;Generate PDF with BarCodes</button>-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "barcodes",
        data() {
            return {

            }
        },
        props: {
            barCodes: {
                type: Array,
                default: []
            }
        }
    }
</script>

<style scoped>

</style>