<template>
    <div class="flex flex-col fixed z-10 justify-center h-full w-full bg-gray-900 leading-relaxed container" v-if="error">
        <p class="text-center text-yellow-500 font-bold text-2xl">{{ error.errorMessage }}</p>
        <p class="text-center text-white font-bold text-lg">{{ error.actionMessage }}</p>
        <button class="m-5 text-green-500 hover:text-green-400 text-3xl font-bold" @click="hideError">Got it</button>
    </div>
</template>

<script>
    export default {
        name: "error",
        computed: {
            error: {
                get() {
                    return this.$store.state.errorModule.error;
                }
            },
        },
        methods:{
            hideError(){
                this.$store.dispatch('errorModule/hideError');
            }
        }
    }
</script>

<style scoped>

</style>