<template>
    <div>
        <send-mail-notification
            :notificationVisibility=sendMailNotificationVisibility
            title="PLEASE WAIT"
            text="Email is being sent...."
            baseBackgroundColor="blue"
        />
        <div v-if="!updatedUserNotifications"
            class="w-full pb-2"
        >
            <reminder-widget
                @confirmSettingToNotGetNotification="confirmSettingToNotGetNotification()"
            ></reminder-widget>
        </div>
        <div class="w-full mb-4">
            <bar-codes
                :barCodes="barCodes"
                @sendMail="sendMail"
                @generateBarCodesToPDF="generateBarCodesToPDF"
            ></bar-codes>
        </div>
        <div class="md:flex">
            <div class="w-full md:w-1/2 md:pr-1">
                <get-tickets
                    :tickets="ticketsToGet"
                    :actualDistribution="actualDistribution"
                    @getTickets="getTickets"
                ></get-tickets>
            </div>
            <div class="w-full mt-3 md:mt-0 md:w-1/2 md:pl-1">
                <usage-overview
                    :tickets="overviewTickets"
                ></usage-overview>
            </div>
        </div>
    </div>
</template>

<script>
    import reminderWidget from "./home/reminderWidget";
    import getTickets from "./home/getTickets";
    import usageOverview from "./home/usageOverview";
    import BarCodes from "./barcodes/barcodes";
    import SendMailNotification from "./utilities/notifications/sendMailNotification";
    export default {
        name: "home",
        components: {SendMailNotification, BarCodes, reminderWidget, getTickets, usageOverview},
        data() {
            return {
                sendMailNotificationVisibility: false,
                ticketsToGet: null,
                overviewTickets: null,
                barCodes:[],
                user: null,
                updatedUserNotifications: true,
                actualDistribution: null
            }
        },
        mounted(){
            this.getActualDistribution();
            this.checkUpdatedUserNotifications();
            this.retrieveEmployeeEligibleTickets();
            this.getUserTicketsOverview();
            this.getEligibleCodes();
        },
        methods: {
            getActualDistribution() {
                axios
                    .get(route('distribution.actual'))
                    .then(response => {
                        if(response.data){
                            this.actualDistribution = response.data;
                        } else {
                            this.actualDistribution = {noTicketsText: 'No ongoing distribution'};
                        }
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
            async checkUpdatedUserNotifications() {
                await axios
                    .get(route('user.getUser'))
                    .then(response => {
                        this.user = response.data;
                        if(this.user.user_notifications === null) {
                            this.updatedUserNotifications = null;
                        } else if (this.user.user_notifications.confirmed === false) {
                            this.updatedUserNotifications = null;
                        } else {
                            this.updatedUserNotifications = true;
                        }
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
            async retrieveEmployeeEligibleTickets() {
                await axios
                    .get(route('ticket.retrieveEmployeeEligibleTickets'))
                    .then(response => {
                        this.ticketsToGet = response.data;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
            async getUserTicketsOverview() {
                await axios
                    .get(route('ticket.userTicketsUsageOverview'))
                    .then(response => {
                        this.overviewTickets = response.data;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            },
            async getEligibleCodes() {
                await axios
                    .get(route('barcode.show'))
                    .then((response) => {
                        this.barCodes = response.data;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', { error: error });
                    });
            },
            updateAllTickets() {
                this.retrieveEmployeeEligibleTickets();
                this.getUserTicketsOverview();
                this.getEligibleCodes();
            },
            async getTickets() {
                await axios
                    .get(route('ticket.getTickets'))
                    .then((response) => {
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Tickets acquired', background: 'green' });
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', { error: error });
                    });

                this.updateAllTickets();
            },
            sendMail() {
                this.sendMailNotificationVisibility = true;
                axios
                    .get(route('barcode.sendBarCodesInMail'))
                    .then((response) => {
                        this.sendMailNotificationVisibility = false;
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Tickets sent to your email', background: 'green' });
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', { error: error });
                    });
            },
            async generateBarCodesToPDF() {

                // https://stackoverflow.com/questions/43432892/force-download-get-request-using-axios
                await axios({
                    url: route('barcode.generateBarCodesToPDF'),
                    method: 'GET',
                    responseType: 'blob', // important
                    })
                    .then(function(response) {
                        let blob = new Blob([response.data], { type: 'application/pdf' });
                        let link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = 'Listky.pdf';
                        link.click();
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', { error: error });
                    });

                // it breaks if directly in "then", therefore implemented async
                this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'PDF generated', background: 'green' });
            },
            confirmSettingToNotGetNotification(){
                this.updatedUserNotifications = true;
            }
        }
    }
</script>

<style scoped>

</style>