<template>
    <div>
        <error></error>

        <notifications-list></notifications-list>

        <div class="md:flex">
            <div :class="navigationCss">
                <navigation @toggleNavigation="toggleNavigation" />
            </div>

            <div :class="routerViewCss">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "mainComponent",
        data() {
            return {
                navigationCss: 'w-full md:w-1/5',
                routerViewCss: 'w-full md:w-4/5'
            }
        },
        methods: {
            toggleNavigation(navigationVisibility){
                this.navigationCss = (navigationVisibility) ? 'w-full md:w-1/5' : 'w-8';
                this.routerViewCss = (navigationVisibility) ? 'w-full md:w-4/5' : 'w-full';
            }
        }
    }
</script>

<style scoped>

</style>