<template>
    <div>
        <div v-if="navigationDisplayed" class="pr-2">
            <div class="mb-10">
                <h5 class="uppercase font-bold mb-5 text-base">
                    <router-link class="text-black" to="/home">Home</router-link>
                    <span
                        class="float-right cursor-pointer"
                        title="Hide menu">
                            <font-awesome-icon
                                icon="chevron-circle-left"
                                @click.prevent="toggleNavigation"
                            />
                    </span>
                </h5>
            </div>

            <div class="mb-10">
                <h5 class="uppercase font-bold mb-5 text-base">User Settings</h5>

                <ul class="list-reset">
                    <li class="text-sm leading-loose"><router-link class="text-black hover:text-blue-700" :to="{name: 'userNotificationSetting' }">Notifications</router-link></li>
                </ul>
            </div>

            <div v-if="hasAtLeastOnePermission(['see_distributions', 'edit_distributions' ])" class="mb-10">
                <h5 class="uppercase font-bold mb-5 text-base">Distribution Management</h5>

                <ul class="list-reset">
                    <li v-if="hasPermission('see_distributions')" class="text-sm leading-loose"><router-link class="text-black hover:text-blue-700" :to="{name: 'distributions' }">Distributions</router-link></li>
                </ul>
                <ul class="list-reset">
                    <li v-if="hasPermission('edit_distributions')" class="text-sm leading-loose"><router-link class="text-black hover:text-blue-700" :to="{name: 'distributionCreate' }">Create new distribution</router-link></li>
                </ul>
                <ul class="list-reset">
                    <li v-if="hasPermission('see_exceptions')" class="text-sm leading-loose"><router-link class="text-black hover:text-blue-700" :to="{name: 'exceptions' }">Exceptions</router-link></li>
                </ul>
            </div>

            <div v-if="hasAtLeastOnePermission(['see_users', 'see_roles', 'import_tickets'])" class="mb-10">
                <h5 class="uppercase font-bold mb-5 text-base">Tool Settings</h5>

                <ul class="list-reset">
                    <li v-if="hasPermission('see_users')" class="text-sm leading-loose"><router-link class="text-black hover:text-blue-700" :to="{name: 'users' }">Users</router-link></li>
                    <li v-if="hasPermission('see_roles')" class="text-sm leading-loose"><router-link class="text-black hover:text-blue-700" :to="{name: 'roles' }">Access Roles</router-link></li>
                    <li v-if="hasPermission('import_tickets')" class="text-sm leading-loose"><router-link class="text-black hover:text-blue-700" :to="{name: 'importTickets' }">Import Tickets</router-link></li>
                </ul>
            </div>
        </div>
        <div v-else
             class="px-2"
        >
            <div
                class="cursor-pointer"
                title="Show menu">
                <font-awesome-icon
                    icon="chevron-circle-right"
                    @click.prevent="toggleNavigation"
                />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Navigation",
        data() {
            return {
                navigationDisplayed: true
            }
        },
        methods: {
            toggleNavigation() {
                this.navigationDisplayed = !this.navigationDisplayed;
                this.$emit('toggleNavigation', this.navigationDisplayed);
            }
        }
    }
</script>

<style scoped>

</style>