<template>
    <div>
        <div class="bg-blue-900 text-white font-bold p-3 text-center">TICKETS ELIGIBILITY</div>
        <div class="mt-6 mb-1 text-center">
            <div v-if="actualDistribution && !actualDistribution.noTicketsText">Current distribution round started on</div>
            <div v-if="!actualDistribution">
                <loading class="py-0 text-center"></loading>
            </div>
            <div v-else-if="actualDistribution.noTicketsText"
                 class="text-center py-6 text-xl font-bold"
            >
                {{ actualDistribution.noTicketsText}}
            </div>
            <div v-else-if="actualDistribution">{{ getFormattedDate(actualDistribution.from)}}</div>
        </div>
        <div v-if="tickets === null">
            <loading class="py-6 text-center"></loading>
        </div>
        <div v-else-if="tickets.length === 0"
            class="text-center py-6 text-xl font-bold">
            No new tickets to get
        </div>
        <div v-else>
            <div class="text-center text-blue-500 text-2xl font-bold p-5">
                You may get {{ tickets.length }} tickets
            </div>
            <div class="text-center">
                <button class="bg-green-700 text-white p-3 font-bold"
                    @click.prevent="$emit('getTickets')"
                >Get tickets</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "getTickets",
        data() {
            return {

            }
        },
        props: {
            tickets: {
                type: Array,
                default: null
            },
            actualDistribution: {
                type: Object,
                default: null
            }
        }
    }
</script>

<style scoped>

</style>