<template>
    <div class="flex p-6 border-2 border-green-500 text-green-500">
        <div class="w-full md:w-3/5 p-3">
            Do you want to get notifications on tickets distributions?
        </div>
        <div class="w-full md:w-2/5">
            <div class="flex justify-around">
                <div>
                    <button class="border-2 border-green-400 text-green-500 py-2 px-5 hover:bg-green-200"
                        @click.prevent="receiveNotifications()"
                    >Yes</button>
                </div>
                <div>
                    <button class="border-2 border-green-400 text-green-500 py-2 px-5 hover:bg-green-200"
                        @click.prevent="doNotReceiveNotifications()"
                    >No</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "reminderWidget",
        data() {
            return {
                user: null
            }
        },
        methods: {
            receiveNotifications() {
                this.$router.push({ name: 'userNotificationSetting', params: {} });
            },
            async doNotReceiveNotifications() {
                await axios
                    .get(route('user.getUser'))
                    .then(response => {
                        this.user = response.data;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
                await axios
                    .post(route('userNotification.store'), {attuid: this.user.attuid})
                    .then(response => {

                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
                await axios
                    .patch(route('userNotification.update', this.user.attuid))
                    .then(response => {
                        this.$emit('confirmSettingToNotGetNotification');
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Setting updated', background: 'green' });
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            }
        }
    }
</script>

<style scoped>

</style>