<template>
    <div class="">
        <div class="bg-blue-900 text-white font-bold p-3 text-center">USAGE OVERVIEW</div>
        <div>
            <div class="text-gray-600 italic text-center p-1">
                Be aware the information on usage may take longer time
            </div>
            <table class="table-fixed w-full mb-2">
                <thead>
                    <tr>
                        <th class="pt-2 pb-2 px-4">TicketId</th>
                        <th class="pt-2 pb-2 px-4">Expiration</th>
                        <th class="pt-2 pb-2 px-4">Used</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr v-if="tickets === null">
                        <td :colspan="3">
                            <loading class="py-6" />
                        </td>
                    </tr>
                    <tr v-else-if="tickets['new'].length === 0">
                        <td :colspan="3">
                            No available tickets
                        </td>
                    </tr>
                    <tr v-else
                        v-for="ticket in tickets['new']"
                        class="hover:font-bold cursor-pointer py-1 h-6"
                    >
                        <td>
                            {{ ticket.ticketId }}
                        </td>
                        <td>
                            {{ getFormattedDate(ticket.expiration) }}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="table-fixed w-full">
                <tbody class="text-center">
                    <tr v-if="tickets === null">
                        <td :colspan="3">
                        </td>
                    </tr>
                    <tr v-else-if="tickets['used'].length === 0">
                        <td :colspan="3"
                            class="text-gray-600"
                        >
                            No used or expired tickets
                        </td>
                    </tr>
                    <tr v-else
                        v-for="ticket in tickets['used']"
                        class="text-gray-500"
                    >
                        <td>
                            {{ ticket.ticketId }}
                        </td>
                        <td>
                            {{ getFormattedDate(ticket.expiration) }}
                        </td>
                        <td>
                            {{ getFormattedDate(ticket.used) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "usageOverview",
        data(){
            return {

            }
        },
        props: {
            tickets: {
                type: Object,
                default: null
            }
        },
        mounted() {

        },
        methods: {

        }
    }
</script>

<style scoped>

</style>