<template>
    <div>
        <div class="bg-blue-900 text-white font-bold p-3 text-center">TICKETS ELIGIBILITY</div>
        <div class="mb-3 p-2 md:flex hover:bg-gray-200 cursor-pointer text-center">
            <div class="my-4 mr-3 font-bold w-full md:w-1/2">Get mail notifications</div>
            <div class="flex w-full md:w-1/2">
                <div @click.prevent="updateSettings('mail', true)"
                    class="m-4 w-full md:w-1/2"
                >
                    <input type="radio" id="mail_yes" name="mailUserSettings" :value="true" v-model="mailSetting">
                    <label for="mail_yes">Yes</label>
                </div>

                <div @click.prevent="updateSettings('mail', false)"
                     class="m-4 w-full md:w-1/2"
                >
                    <input type="radio" id="mail_no" name="mailUserSettings" :value="false" v-model="mailSetting">
                    <label for="mail_no">No</label>
                </div>
            </div>
        </div>
        <div class="mb-3 p-2 md:flex hover:bg-gray-200 cursor-pointer text-center">
            <div class="my-4 mr-3 font-bold w-full md:w-1/2">Get QMessenger notifications</div>
            <div class="flex w-full md:w-1/2">
                <div @click.prevent="updateSettings('q', true)"
                     class="m-4 w-full md:w-1/2"
                >
                    <input type="radio" id="q_yes" name="qUserSettings" :value="true" v-model="qSetting">
                    <label for="q_yes">Yes</label>
                </div>

                <div @click.prevent="updateSettings('q', false)"
                     class="m-4 w-full md:w-1/2"
                >
                    <input type="radio" id="q_no" name="qUserSettings" :value="false" v-model="qSetting">
                    <label for="q_no">No</label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "userNotificationSetting",
        data() {
            return {
                user: 'none',
                mailSetting: null,
                qSetting: null
            }
        },
        mounted(){
            this.getUser();
        },
        methods: {
            async getUser() {
                await axios
                    .get(route('user.getUser'))
                    .then(response => {
                        this.user = response.data;
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
                if(this.user.user_notifications === null) {
                    await axios
                        .post(route('userNotification.store'), {attuid: this.user.attuid})
                        .then(response => {
                            this.mailSetting = response.data.mail;
                            this.qSetting = response.data.q;
                        })
                        .catch(error => {
                            this.$store.dispatch('logModule/storeLog', {error: error});
                        });
                } else {
                    this.mailSetting = this.user.user_notifications.mail;
                    this.qSetting = this.user.user_notifications.q;
                }
            },
            updateSettings(key, value) {
                axios
                    .patch(route('userNotification.update', this.user.attuid), { [key]: value })
                    .then(response => {
                        this.mailSetting = response.data.mail;
                        this.qSetting = response.data.q;
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Setting updated', background: 'green' });
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', {error: error});
                    });
            }
        }
    }
</script>

<style scoped>

</style>