<template>
    <div>
        <div class="bg-blue-900 text-white font-bold p-3 text-center">IMPORT NEW TICKETS</div>
        <div class="md:flex my-3 mr-3" v-if="errors.file">
            <div class="w-full text-right text-error">
                <div v-for="error_message in errors.file">
                    <p>{{ error_message }}</p>
                </div>
            </div>
        </div>
        <div class="md:flex md:justify-around my-5">
            <div class="text-center">
                <input type="file" ref="file" class="m-3 p-3" @change="checkFile" />
            </div>
            <div class="text-center">
                <button @click.prevent="importExcel()"
                    class="m-3 p-3 text-blue-900 border-2 border-blue-900 hover:text-white hover:bg-green-500 hover:border-green-500"
                >Import File</button>
            </div>
        </div>
        <div v-if="response"
            class="text-center p-3 bg-green-300"
        >
            {{ response }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "importTickets",
        data() {
            return {
                ex: {excel: null },
                response: null,
                errors: []
            }
        },
        methods: {
            checkFile(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) {
                    return;
                }
                this.createFile(files[0]);
            },

            createFile(file) {
                this.ex.excel = file;
            },

            importExcel: function () {
                this.errors = [];
                this.response = null;
                let formData = new FormData();
                formData.append("file", this.ex.excel);
                axios.post(route('ticket.import'), formData )
                    .then(response => {
                        this.response = response.data;
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                        this.$store.dispatch('logModule/storeLog', { error: error });
                    });
            },

        }
    }
</script>

<style scoped>

</style>