<template>
    <div class="mb-2" :class="[ 'px-4 pt-2 pb-4 text-white', notification.type, background ]" v-if="notification.notificationVisibility">
        <button @click.prevent="toggleVisibility(notification)" class="float-right" aria-label="Close alert" type="button">
            <font-awesome-icon icon="times" />
        </button>
        <p v-if="notification.title" class="font-bold pb-2 mr-2 leading-relaxed">{{ notification.title }}</p>
        <p class="mr-2">
            {{ notification.text }}
        </p>
    </div>
</template>

<script>
    export default {
        name: "notification",
        computed: {
            background() {
                return 'bg-' + this.notification.background + '-500';
            }
        },
        props: {
            notification: {
                type: Object,
                default:
                    () => ({
                        notificationVisibility: false,
                        title: '',
                        text: '',
                        background: 'blue'
                    })
            }
        },
        mounted() {
            setTimeout(() => {
                this.$store.dispatch('notificationModule/removeNotification', this.notification)
            }, 4000);
        },
        methods: {
            toggleVisibility(notification) {
                if(this.notification.notificationVisibility){
                    this.$store.dispatch('notificationModule/removeNotification', notification);
                } else {
                    this.$store.dispatch('notificationModule/showNotification');
                }
            }
        }
    }
</script>

<style scoped>

</style>