<template>
    <div class="notificationList">
        <notification v-for="notification in notifications" :key="notification.key" :notification="notification"></notification>
    </div>
</template>

<script>
    import Notification from "./notification";
    export default {
        name: "notificationsList",
        components: {Notification},
        computed: {
            notifications() {
                return this.$store.state.notificationModule.notifications;
            }
        }
    }
</script>

<style scoped>
    .notificationList {
        position: fixed;
        right: 10px;
        top: 10px;
        max-width: 40vw;
        min-width: 200px;
        z-index: 1;
    }
</style>