<template>
    <div class="notificationClass" :class="[ 'px-4 pt-2 pb-4 text-white', background ]" v-if="notificationVisibility">
        <p v-if="title" class="font-bold pb-2 mr-2 leading-relaxed">{{ title }}</p>
        <p class="mr-2">
            {{ text }}
        </p>
    </div>
</template>

<script>
    export default {
        name: "sendMailNotification",
        computed: {
            background() {
                return 'bg-' + this.baseBackgroundColor + '-500';
            }
        },
        props: {
            notificationVisibility: {
                type: Boolean,
                default: false
            },
            title: {
                type: String,
                default: ''
            },
            text: {
                type: String,
                default: ''
            },
            baseBackgroundColor: {
                type: String,
                default: 'blue'
            },
        },
    }
</script>

<style scoped>
    .notificationClass {
        position: fixed;
        right: 10px;
        top: 10px;
        max-width: 40vw;
        min-width: 200px;
        z-index: 1;
    }
</style>