/** ACTION BUTTONS */

.btn {
    @apply .px-4 .py-2 .leading-normal .border;
}

.btn-sm {
    @apply .text-xs .py-0;
}

.btn-action {
    @apply  .btn .btn-sm .font-semibold .rounded-full;
}

.btn-submit {
    @apply .btn .px-4 .rounded;
}

.btn-blue {
    @apply .text-white .bg-blue-500 .border-blue-500;
}

.btn-blue:hover {
    @apply .text-blue-500 .bg-white .border-blue-500;
}

.btn-purple {
    @apply .text-white .bg-purple-500 .border-purple-500;
}

.btn-purple:hover {
    @apply .text-purple-500 .bg-white .border-purple-500;
}

.btn-green {
    @apply .text-white .bg-green-500 .border-green-500;
}

.btn-green:hover {
    @apply .text-green-500 .bg-white .border-green-500;
}

.btn-red {
    @apply .text-white .bg-red-500 .border-red-500;
}

.btn-red:hover {
    @apply .text-red-500 .bg-white .border-red-500;
}

.btn-orange {
    @apply .text-white .bg-orange-500 .border-orange-500;
}

.btn-orange:hover {
    @apply .text-orange-500 .bg-white .border-orange-500;
}

.btn-teal {
    @apply .text-white .bg-teal-500 .border-teal-500;
}

.btn-teal:hover {
    @apply .text-teal-500 .bg-white .border-teal-500;
}

.btn-yellow {
    @apply .text-white .bg-yellow-600 .border-yellow-600;
}

.btn-yellow:hover {
    @apply .text-yellow-600 .bg-white .border-yellow-600;
}

.btn-gray {
    @apply .text-white .bg-gray-500 .border-gray-500;
}

.btn-gray:hover {
    @apply .text-gray-500 .bg-white .border-gray-500;
}

.btn-black {
    @apply .text-white .bg-black .border-black;
}

.btn-black:hover {
    @apply .text-white .bg-white .border-black;
}
