<template>
    <button @click="clicked" class="btn-action my-1"><span class="pr-2"><font-awesome-icon :icon="icon" /></span><slot>Click</slot></button>
</template>

<script>
    export default {
        name: "ActionButton",
        props: {
            icon: {
                default: 'hand-pointer',
                type: String
            }
        },
        methods: {
            clicked() {
                this.$emit('clicked');
            }
        }
    }
</script>

<style scoped>

</style>