<template>
    <div class="relative inline-block">
        <div role="button" class="select-none" @click="open = !open">
            <slot name="menu_name"></slot>
        </div>
        <div class="absolute pin-l mt-px" v-if="open">
            <slot name="links"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "dropdown",
        data() {
            return {
                open: false
            }
        }
    }
</script>

<style scoped>

</style>