<template>
    <div class="">
        <RolesListLine
            v-for="role in roles"
            v-bind:key="role.name"
            :name="role.name"
            :display_name="role.display_name"
            :description="role.description"
            @role_deleted="removeRole($event)"
        ></RolesListLine>
    </div>
</template>

<script>
    import RolesListLine from './RolesListLine';

    export default {
        name: "RolesList",
        data () {
            return {
                roles: null
            }
        },
        mounted () {
            this.retrieveRoles();
        },
        methods: {
            retrieveRoles(){
                axios
                    .get(route('role.index'))
                    .then(response => (
                        this.roles = response.data
                    ))
                    .catch(error =>{
                        this.$store.dispatch('logModule/storeLog', { error: error });
                    })
            },
            removeRole(roleToRemove) {
                this.roles = this.roles.filter(role => (role.display_name !== roleToRemove.toString()));
            }
        },
        components: {
            RolesListLine
        }
    }
</script>

<style scoped>

</style>