<template>
    <div>

        <heading page-name="Create new access Role" route-link="roles" icon="arrow-left" route-text="Back to Roles list" />

        <!--DISPLAY NAME-->
        <div class="md:flex mb-3" v-if="errors.display_name">
            <div class="w-full text-right text-error">
                <div v-for="error_message in errors.display_name">
                    <p>{{ error_message }}</p>
                </div>
            </div>
        </div>
        <div class="md:flex mb-3">
            <div class="w-full md:w-2/5 px-2 py-3">
                <label class="font-semibold" for="new_role_name">New Role name</label>
            </div>
            <div class="w-full md:w-3/5">
                <input class="bg-gray-300 w-full px-2 py-3" type="text" id="new_role_name" v-model="name">
            </div>
        </div>

        <!--DESCRIPTION-->
        <div class="md:flex mb-3" v-if="errors.description">
            <div class="w-full text-right text-error">
                <div v-for="error_message in errors.description">
                    <p>{{ error_message }}</p>
                </div>
            </div>
        </div>
        <div class="md:flex mb-3">
            <div class="w-full md:w-2/5 px-2 py-3">
                <label class="font-semibold" for="new_description">Description</label>
            </div>
            <div class="w-full md:w-3/5">
                <input class="bg-gray-300 w-full px-2 py-3" type="text" id="new_description" v-model="description">
            </div>
        </div>

        <!--PERMISSIONS-->
        <div class="w-full px-2 py-3 text-center">
            <label class="font-semibold">Permissions</label>
        </div>
        <div class="md:flex mb-3">
            <div class="w-full md:w-2/4 mr-2">
                <div class="w-full text-center mb-2">
                    <label class="font-semibold">Assigned</label>
                </div>
                <div class="md:flex mb-3" v-if="errors.permissions">
                    <div class="w-full text-center text-error">
                        <div v-for="error_message in errors.permissions">
                            <p>{{ error_message }}</p>
                        </div>
                    </div>
                </div>
                <permissions-list
                    :permissions="assignedPermissions"
                    noDataText="No assigned permissions"
                    :bgColor="'bg-transparent'"
                    :textColor="'text-gray-900'"
                    :ddTextColor="'text-gray-700'"
                    :itemHoverTextColor="'text-red-500'"
                    @permissionListItemClicked="movePermission($event)"
                />
            </div>
            <div class="w-full md:w-2/4 ml-2">
                <div class="w-full text-center mb-2">
                    <label class="font-semibold">Unassigned</label>
                </div>
                <permissions-list
                    :permissions="unassignedPermissions"
                    :bgColor="'bg-transparent'"
                    :textColor="'text-gray-900'"
                    :ddTextColor="'text-gray-700'"
                    :itemHoverTextColor="'text-green-500'"
                    @permissionListItemClicked="movePermission($event)"
                />
            </div>
        </div>

        <!--SUBMIT-->
        <div class="flex">
            <div class="w-full text-right">
                <button class="btn-submit btn-green" @click.prevent="store">Create new role</button>
            </div>
        </div>

    </div>
</template>

<script>
    import PermissionsList from "../permissions/permissionsList";
    import Notification from "../../utilities/notifications/notification";
    import Heading from "../heading";
    export default {
        name: "RoleCreate",
        components: {Heading, Notification, PermissionsList},
        props: {},
        data() {
            return {
                name: '',
                description: '',
                assignedPermissions: [],
                unassignedPermissions: [],
                errors: []
            };
        },
        mounted() {
            axios.get(route('permission.index'))
                .then(response => {
                    this.unassignedPermissions = response.data
                })
                .catch(error => {
                    this.$store.dispatch('logModule/storeLog', { error: error });
                });
        },
        methods: {
            /**
             * Create a new Role.
             */
            store() {
                this.errors = [];

                axios.post(route('role.store'), {display_name: this.name, description: this.description, permissions: this.assignedPermissions})
                    .then(response => {
                        this.errors = [];
                        this.$router.push({ name: 'roles', params: {} });
                        let roleName = response.data.display_name;
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Success', text: 'Role ' + roleName + ' successfully created', background: 'green' });
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            this.errors = error.response.data.errors;
                            this.$store.dispatch('logModule/storeLog', { error: error });
                            this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Role not created', text: 'Please review the form entries', background: 'orange' });
                        } else {
                            this.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },
            movePermission(permission) {
                if(this.unassignedPermissions.includes(permission)) {
                    let index = this.unassignedPermissions.indexOf(permission);
                    this.unassignedPermissions.splice(index,1);
                    this.assignedPermissions.push(permission);

                } else {
                    let index = this.assignedPermissions.indexOf(permission);
                    this.assignedPermissions.splice(index,1);
                    this.unassignedPermissions.push(permission);
                }
            }
        }
    }
</script>

<style scoped>

</style>