<template>
    <div class="bg-blue-500 mt-3 py-4 px-4 w-full rounded text-white">
        <ul v-if="(typeof Assignees) === 'object'" class="">
            <li v-for="assignee in Assignees" class="mb-2">
                {{ assignee.full_name }} ({{ assignee.attuid }})
            </li>
        </ul>
        <p v-else>No assignees</p>
    </div>
</template>

<script>
    export default {
        name: "RoleAssignees",
        props: {
            role: String
        },
        created() {
            axios
                .get(route('role.assignees', { role: this.role }))
                .then((response) => {
                    this.Assignees = (response.data.length > 0 ) ? response.data : 'No assignees';
                })
                .catch(error => {
                    this.$store.dispatch('logModule/storeLog', { error: error });
                });
        },
        data: () => {
            return {
                Assignees: null
            }
        }
    }
</script>

<style scoped>

</style>