<template>
    <div>
        <heading page-name="Roles list" user-permission="edit_roles" route-link="roleCreate" route-text="Create new Role" />
        <roles-list />
    </div>
</template>

<script>
    import RolesList from './RolesList';
    import Heading from "../heading";

    export default {
        name: "Roles",
        components: {
            Heading,
            RolesList
        },
        data() {
            return {
                notificationVisibility: false
            };
        }
    }
</script>

<style scoped>

</style>