<template>
    <div>
        <div class="mb-8">
            <div>
                <span>
                    <span class="text-xl font-semibold">{{ display_name }}</span>
                </span>
            </div>
            <div class="flex justify-between">
                <div class="w-1/2 pr-2">
                    <div class="py-3">
                        <action-button class="btn-purple" icon="align-left" v-on:clicked="toggleRoleDescription">Description</action-button>
                        <action-button class="btn-blue" icon="users" v-on:clicked="toggleRoleAssignees" v-if="hasPermission('edit_roles')">Assignees</action-button>
                        <action-button class="btn-yellow" icon="unlock-alt" v-on:clicked="toggleRolePermissions">Permissions</action-button>
                        <router-link :to="{name: 'roleEdit', params: {role: { name: name, display_name: display_name, description: description }}}"><action-button class="btn-orange" icon="pencil-alt" v-if="hasPermission('edit_roles')">Edit</action-button></router-link>
                        <action-button class="btn-red" icon="times" v-on:clicked="toggleRoleDelete" v-if="hasPermission('edit_roles') && name !== 'admin'">Delete</action-button>
                    </div>
                    <div v-if="seeRoleDescription" class="bg-purple-500 mt-3 py-4 px-4 w-full rounded text-white whitespace-pre-line">{{ description }}</div>
                    <div v-if="seeRoleDelete" class="bg-red-900 text-white mt-3 py-4 px-4 w-full rounded">
                        <p class="mb-5 font-bold text-lg leading-relaxed text-center">Are you sure you want to delete the "{{ display_name }}" role?</p>
                        <div class="flex justify-around">
                            <div>
                                <button class="btn-submit btn-gray" @click.prevent="toggleRoleDelete">
                                    No
                                </button>
                            </div>
                            <div>
                                <button class="btn-submit btn-red" @click.prevent="deleteRole">
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/2 pl-2">
                    <role-assignees v-if="seeRoleAssignees" :role="name"></role-assignees>
                    <permissions-list v-if="seeRolePermissions" :permissions="permissions"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ActionButton from "../../utilities/htmlElements/ActionButton";
    import RoleAssignees from "./RoleAssignees";
    import PermissionsList from "../permissions/permissionsList";
    import Notification from "../../utilities/notifications/notification";
    export default {
        name: "RolesListLine",
        components: {PermissionsList, RoleAssignees, ActionButton, Notification},
        methods: {
            toggleRoleDescription() {
                this.seeRoleDescription = !this.seeRoleDescription ;
            },
            toggleRoleAssignees() {
                this.seeRoleAssignees = !this.seeRoleAssignees ;
            },
            toggleRolePermissions() {
                if(this.seeRolePermissions === false) {
                    // not getting this from vuex, as if more roles would be open all would show the permissions of the last clicked role
                    axios.get(route('role.show', {role: this.name}))
                        .then(response => {
                            this.permissions = (response.data.permissions.length > 0 ) ? response.data.permissions : [];
                        })
                        .catch(error => {
                            this.$store.dispatch('logModule/storeLog', { error: error });
                        });
                    }
                this.seeRolePermissions = !this.seeRolePermissions ;
            },
            toggleRoleDelete() {
                this.seeRoleDelete = !this.seeRoleDelete ;
            },
            deleteRole() {
                axios.delete(route('role.destroy', {role: this.name}))
                    .then(response => {
                        this.$emit('role_deleted', response.data);
                        this.$store.dispatch('notificationModule/showNotification', {notificationVisibility: true, title: 'Deletion successful', text: 'Role ' + response.data + ' successfully deleted', background: 'green' });
                    })
                    .catch(error => {
                        this.$store.dispatch('logModule/storeLog', { error: error });
                    });
            }
        },
        data: () => {
            return {
                seeRoleDescription: false,
                seeRoleAssignees: false,
                seeRolePermissions: false,
                seeRoleDelete: false,
                permissions: []
            }
        },
        props: [
            'name', 'display_name', 'description'
        ]
    }
</script>

<style scoped>

</style>